In [14]:
import os
import pickle
import pandas as pd

print(os.getcwd())

os.chdir('/Users/mvahit/Documents/GitHub/home_credit/models/reference')

print(os.getcwd())

model = pickle.load(open('lightgbm_fold_6.pkl', 'rb'))

df = pd.read_pickle("/Users/mvahit/Documents/GitHub/home_credit/data/final_test_df.pkl")

/Users/mvahit/Documents/GitHub/home_credit/models/reference
/Users/mvahit/Documents/GitHub/home_credit/models/reference

In [15]:
df.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CC_NAME_CONTRACT_STATUS_Signed_MAX,CC_NAME_CONTRACT_STATUS_Signed_MEAN,CC_NAME_CONTRACT_STATUS_Signed_SUM,CC_NAME_CONTRACT_STATUS_Signed_VAR,CC_NAME_CONTRACT_STATUS_nan_MIN,CC_NAME_CONTRACT_STATUS_nan_MAX,CC_NAME_CONTRACT_STATUS_nan_MEAN,CC_NAME_CONTRACT_STATUS_nan_SUM,CC_NAME_CONTRACT_STATUS_nan_VAR,CC_COUNT
10000,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10001,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10002,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10003,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10004,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
model

169